<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta th:insert="fragments/head :: head"/>
		<title>Redistribution Requests</title>
	</head>
	<body>
		<header th:replace="fragments/header :: header"></header>
		<div class="bg_home">
			<div class="container pt-5">
				<h1 class="text-light pb-3">Redistribution Requests</h1>
				<div th:if="${error}" th:text="${error}" class="text-danger"></div>
				<h4 class=" text-success">Waiting for offer</h4>
				<table class="table table-dark mt-3" style="opacity:0.8">
					<thead>
					  <tr>
					    <th scope="col"></th>
					    <th scope="col">Id</th>
					    <th scope="col">Organisation</th>
					    <th scope="col">Product requested</th>
					    <th scope="col"></th>
					
					  </tr>
					</thead>
					<tbody>
						<tr th:each=" redistributionViewDto : ${redistributionViewDtoList}">
							<div th:if="${redistributionViewDto.offerViewDto == null }">
								<th scope="row"></th>
								<td th:text="${redistributionViewDto.id}" class="align-middle"></td>
								<td th:text="${redistributionViewDto.organisationBeanDto.organisationName}" class="align-middle"></td>
								<td  class="align-middle">
									<div th:each="productRequestBeanDto : ${redistributionViewDto.productRequestBeanDtoList}">
										<span th:text="${productRequestBeanDto.productRequested}"></span>
										<span th:text="${productRequestBeanDto.quantity}"></span>
										<span th:text="${productRequestBeanDto.unitOfMeasure}"></span>
									</div>
								</td>
								<td><a th:href="@{|/pme/redistribution/${redistributionViewDto.id}|}">create offer</a></td>
							</div>	
						
						</tr>
					</tbody>
				</table>
				<h4 class=" text-success pt-5">Waiting for acceptation</h4>
				<table class="table table-dark mt-3" style="opacity:0.8">
					<thead>
					  <tr>
					    <th scope="col"></th>
					    <th scope="col">Id</th>
					    <th scope="col">Organisation</th>
					    <th scope="col">Product requested</th>
					    <th scope="col">Offer</th>
					     <th scope="col">To be anwser by</th>
					
					  </tr>
					</thead>
					<tbody>
						<tr th:each=" redistributionViewDto : ${redistributionViewDtoList}">
							<div th:if="${redistributionViewDto.offerViewDto != null }">
								<div th:if="${redistributionViewDto.offerViewDto.isAccepted == null && redistributionViewDto.offerViewDto.offerEndingDate.isAfter(#temporals.createToday()) }">
									<th scope="row"></th>
									<td th:text="${redistributionViewDto.id}" class="align-middle"></td>
									<td th:text="${redistributionViewDto.organisationBeanDto.organisationName}" class="align-middle"></td>
									<td  class="align-middle">
										<div th:each="productRequestBeanDto : ${redistributionViewDto.productRequestBeanDtoList}">
											<span th:text="${productRequestBeanDto.productRequested}"></span>
											<span th:text="${productRequestBeanDto.quantity}"></span>
											<span th:text="${productRequestBeanDto.unitOfMeasure}"></span>
										</div>
									</td>
									<td>
										<div th:each="productOffered: ${redistributionViewDto.offerViewDto.productBatchBeanDtoList}">
											<span th:text="${productOffered.name}"></span>
											<span th:text="${productOffered.quantity}"></span>
											<span th:text="${productOffered.unitOfMeasure}"></span>
										</div>
									</td>
									<td th:text="${redistributionViewDto.offerViewDto.offerEndingDate}" class="align-middle"></td>
								</div>
							</div>	
						
						</tr>
					</tbody>
				</table>
				<h4 class=" text-success pt-5">With offer expiry date overdue</h4>
				<table class="table table-dark mt-3" style="opacity:0.8">
					<thead>
					  <tr>
					    <th scope="col"></th>
					    <th scope="col">Id</th>
					    <th scope="col">Organisation</th>
					    <th scope="col">Product requested</th>
					    <th scope="col">Offer</th>
					    <th scope="col">Offer expired on</th>
					     
					
					  </tr>
					</thead>
					<tbody>
						<tr th:each=" redistributionViewDto : ${redistributionViewDtoList}">
							<div th:if="${redistributionViewDto.offerViewDto != null }">
								<div th:if="${redistributionViewDto.offerViewDto.isAccepted !=true && redistributionViewDto.offerViewDto.offerEndingDate.isBefore(#temporals.createToday()) }">
									<th scope="row"></th>
									<td th:text="${redistributionViewDto.id}" class="align-middle"></td>
									<td th:text="${redistributionViewDto.organisationBeanDto.organisationName}" class="align-middle"></td>
									<td  class="align-middle">
										<div th:each="productRequestBeanDto : ${redistributionViewDto.productRequestBeanDtoList}">
											<span th:text="${productRequestBeanDto.productRequested}"></span>
											<span th:text="${productRequestBeanDto.quantity}"></span>
											<span th:text="${productRequestBeanDto.unitOfMeasure}"></span>
										</div>
									</td>
									<td>
										<div th:each="productOffered: ${redistributionViewDto.offerViewDto.productBatchBeanDtoList}">
											<span th:text="${productOffered.name}"></span>
											<span th:text="${productOffered.quantity}"></span>
											<span th:text="${productOffered.unitOfMeasure}"></span>
											
										</div>
									</td >
									<td th:text="${redistributionViewDto.offerViewDto.id}"></td>
									<td th:text="${redistributionViewDto.offerViewDto.offerEndingDate}" class="align-middle"></td>
									<td  class="align-middle"><a th:href="@{|/pme/redistribution/offer/cancel/${redistributionViewDto.id}/${redistributionViewDto.offerViewDto.id}|}" class="text-warning">cancel offer</a></td>
								</div>
							</div>	
						
						</tr>
					</tbody>
				</table>
				
				
			</div>	
		</div>
	</body>
</html>