<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head">
		<title>Authentification</title>
	</head>
	<body>
		<header th:replace="fragments/header :: header"></header>
		<div class="bg_authentification">
			<div class="container-fluid text-light">
				<form action="#" th:action="@{/authentification/login}" th:object="${authentificationDto}" method="GET">
					Email: <input type="email" required="required" name="emailAddress" th:field="*{email}" /><br/> 
					Password: <input type="password" required="required" name="emailAddress" th:field="*{password}" /><br/>
					<button name="submit" type="submit" value="0">submit</button>
				</form>
			</div>
			
		</div>
	</body>
</html>