<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head">
		<title>Password creation</title>
	</head>
	<body>
		<header th:replace="fragments/header :: header"></header>
		<div class="bg_password_creation">
			<div th:if="!${info}">
				<div class="container-fluid">
					<form action="#" th:action="@{/authentification/password/save}" th:object="${passwordCreationViewDto}" method="GET">
						Email: <input type="email" required="required" name="emailAddress" th:field="*{email}" /><br/> 
						Password: <input type="password" required="required" name="emailAddress" th:field="*{password}" /><br/>
						Confirm password: <input type="password" required="required" name="emailAddress" th:field="*{confPassword}" /><br/>
						<button name="submit" type="submit" value="0">submit</button>
					</form>
					<div th:if="${error}" th:text="${error}" class="text-danger"></div>
				</div>
			</div>
			<div th:if="${info}" th:text="${info}" class="text-success"></div>
		
		</div>
	</body>
</html>
