<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head">
		<title>Product request</title>
	</head>
	<body>
		<header th:replace="fragments/header :: header"></header>
		<div class="bg_redistribution_request">
			<div th:if="!${info}">
				<div class="container-fluid text-light">
					<form action="#" th:action="@{/user2/redistributions/productrequests/add}" th:object="${productRequestBeanDto}"  method="GET">
						Product Requested : <input type="text" required="required" name="productRequested" th:field="*{productRequested}"/><br/> 
						Quantity : <input type="number" required="required" name="quantity" th:field="*{quantity}"/><br/>
						Unit of measure :  
						<select th:field="*{unitOfMeasure}">
							<option th:value="KG" th:text="Kg"></option>
							<option th:value="LITER" th:text="Liter"></option>							
						</select> <br/>
						<button name="submit" type="submit" value="0">Add product</button>
					</form>
					
					
					<div th:if="${session.productRequestBeanDtoMap}">
						<ul>
							<li th:each="productRequest : ${session.productRequestBeanDtoMap}">
								Product: <span th:text="${productRequest.value.productRequested}">
								</span>
								<a th:href="@{|/user2/redistributions/productrequests/remove/${productRequest.value.productRequested}|}"> remove</a>
						</li>
						</ul>					
					</div><br/>
					<form action="#" th:action="@{/user2/redistributions/add}" method="GET">
					    <button name="submit" type="submit" value="0">Add Request</button>
					</form>
					<div th:if="${error}" th:text="${error}" class="text-danger"></div>
					
				</div>
			</div>
			<div th:if="${info}" th:text="${info}" class="text-success"></div>
		</div>
		<script type="text/javascript" th:src="@{/js/file.js}"></script>
	</body>
</html>