<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
	
	<nav class="navbar navbar-expand-lg py-1 navbar-light bg-light">
	
	<div class="unselectable">
	  <div class="navbar-brand font-weight-bold">Biocycle</div>
	</div>
	  
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <div class="collapse navbar-collapse" id="navbarSupportedContent" sec:authorize="isAuthenticated()">
	    <ul class="navbar-nav mr-auto" >
	    	
	      
	      <!-- HR -->
	      <td sec:authorize="hasAnyAuthority('HR','ADMIN')">
		      <li class="nav-item">
			      <a class="nav-link" href="/hr/staff">Staff Members</a>
			  </li>
		      <li class="nav-item">
			      <a class="nav-link" href="/hr/staff/form">Create Staff Members</a>
			  </li>
	      </td>
	      
	      
	      <!-- CME -->
	      <td sec:authorize="hasAnyAuthority('CME','ADMIN')">
		      <li class="nav-item">
			      <a class="nav-link" href="/cme/partnerships/requests">Partnership Requests</a>
			  </li>
	      </td>
	      
	      <!-- PME -->
	      <td sec:authorize="hasAnyAuthority('PME','ADMIN')">
		      <li class="nav-item">
			      <a class="nav-link" href="/pme/entry-forms">New entry</a>
			  </li>
			  <li class="nav-item">
			      <a class="nav-link" href="/pme/redistribution">Manage redistribution</a>
			  </li>
			  <li class="nav-item">
			      <a class="nav-link" href="/pme/product-batch/list">Stocks</a>
			  </li>
			  
	      </td>
	      
	       <!-- CSE -->
	      <td sec:authorize="hasAnyAuthority('CSE','ADMIN')">
		      <li class="nav-item">
			      <a class="nav-link" href="/user/giveaway">CSE !!!</a>
			  </li>
	      </td>
    	</ul>

		<ul  class="navbar-nav ml-auto">
	    	<li>
	    		Connected as <span sec:authentication="name" class="text-warning"></span>
	    		
      			<a href="/logout">logout</a>
	    	</li>
	    </ul>
	
		    
	  </div>
	</nav>
</header>
</html>