<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
	
	<nav class="navbar navbar-expand-lg py-1 navbar-light bg-light">
	
	<div class="unselectable">
	  <div class="navbar-brand font-weight-bold">Biocycle</div>
	</div>
	  
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
	      </li>

	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	         	Partnership
	        </a>
	        <div class="dropdown-menu bg-success" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="/partnership/whatisit">What is a partnership</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="/partnership/request">Request Partnership</a>
	        </div>
	      </li>
		  <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	         	Already partner
	        </a>
	        <div class="dropdown-menu bg-success" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="/authentification">Authentification</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="/authentification/password/creation">Password Creation</a>
	        </div>
	      </li> 
	      
	      
		      
	    </ul>
	  </div>
	</nav>
</header>
</html>